<td>
  {{#unless initAddPersoon}}
    {{row.persoon.gebruikteVoornaam}} {{row.persoon.achternaam}}
  {{else}}
    {{editor-plugins/select-new-persoon-stemmer onSelect=(action "selectNewPersoon")}}
  {{/unless}}
</td>

<td>
  {{#unless initAddPersoon}}
    {{editor-plugins/mandataris-selector
      mandatarissen=row.mandatarissen
      mandataris=row.selectedMandataris
      onChange=(action "updateMandatarisAanwezige")}}
  {{/unless}}
</td>

<td>
  {{#unless initAddPersoon}}
    {{#wu-button-group}}

      {{#unless row.isAanwezigeStemmer}}
        {{#wu-link-button class="button--small button--alt" isNarrow=true onClick=(action "addStemmer")}}
          <i class="vi vi-plus vi-u-s"></i>Voeg stemmer toe
        {{/wu-link-button}}
      {{else}}
        {{#wu-link-button class="button--small button--alt" isNarrow=true onClick=(action "removeStemmer")}}
          <i class="vi vi-cross vi-u-s"></i>Verwijder stemmer
        {{/wu-link-button}}
      {{/unless}}

      {{#wu-link-button class="button--small button--alt" isNarrow=true onClick=(action "removeAanwezige")}}
        <i class="vi vi-cross vi-u-s"></i>Verwijder aanwezige
      {{/wu-link-button}}
    {{/wu-button-group}}
  {{else}}
    {{#wu-button-group}}
      {{#if newPersoon}}
        {{#wu-link-button class="button--small button--alt" isNarrow=true onClick=(action "saveNewPersoon")}}
          <i class="vi vi-plus vi-u-s"></i>Voeg persoon toe
        {{/wu-link-button}}
      {{/if}}
      {{#wu-link-button class="button--small button--alt" isNarrow=true onClick=(action "cancelAddPersoon")}}
        <i class="vi vi-cross vi-u-s"></i>Annuleer
      {{/wu-link-button}}
    {{/wu-button-group}}
  {{/unless}}
</td>
