<h2>Beheer stemming</h2>
<div class="grid grid-collapse">
  <div class="col--7-12">
    <strong>Aantal voorstanders</strong>
    {{input class="input-field input-field--block" placeholder="0" type="number" value=aantalVoorstanders min=0 disabled=viewModeOpenbaar}}
  </div>
  <div class="col--7-12">
    <strong>Aantal tegenstanders</strong>
    {{input class="input-field input-field--block" placeholder="0" type="number" value=aantalTegenstanders min=0 disabled=viewModeOpenbaar}}
  </div>
  <div class="col--7-12">
    <strong>Aantal onthouders</strong>
    {{input class="input-field input-field--block" placeholder="0" type="number" value=aantalOnthouders min=0 disabled=viewModeOpenbaar}}
  </div>
  <div class="col--7-12">
    <label class="checkbox checkbox--block">
    {{input class="checkbox__toggle" type="checkbox" checked=geheim }}
    <span></span>
    <strong>Geheim</strong>
    </label>
  </div>
  <div class="col--7-12">
    <strong>Onderwerp</strong>
    {{textarea class="textarea textarea--block component" cols="40" rows="4" placeholder="Typ hier..." value=onderwerp}}
  </div>
  <div class="col--7-12">
    <strong>Gevolg</strong>
    {{textarea class="textarea textarea--block component" cols="40" rows="4" placeholder="Typ hier..." value=gevolg}}
  </div>
  <div class="col--12-12">
  <div class="grid">
    <nav class="col--1-1" role="navigation" data-tabs>
      <ul class="tabs tabs--block u-spacer--none" data-tabs-list>
        <li class={{if manageAanwezigen "tab tab--active" "tab"}}>
          <a class="tab__link" href="#" onclick={{action 'manageAanwezigen'}}>
            Beheer aanwezigen en stemmers</a>
        </li>
        <li class={{if manageStemmers "tab tab--active" "tab"}}>
          <a class="tab__link" href="#" onclick={{action 'manageStemmers'}}>
            Beheer stemming</a>
        </li>
      </ul>
    </nav>
  </div>
  {{#if manageAanwezigen}}
    {{editor-plugins/aanwezigen-stemming-table
      stemming=stemming
      mandatarissenInDocument=mandatarissenInDocument
      personenInDocument=personenInDocument
      bestuursorgaan=bestuursorgaan
      onRemoveAanwezige=(action "removeAanwezige")
      onRemoveStemmer=(action "removeStemmer")
    }}
  {{/if}}
  {{#if manageStemmers}}
    {{editor-plugins/manage-stemmers-table
      stemming=stemming
      onUpdate=(action "updateStemmer")
    }}
  {{/if}}
  </div>
</div>
<div class="col--7-12 u-align--left">
  {{#wu-button-group}}
    {{#wu-button class="button--narrow button--small" onClick=(action 'save')}}<i class="vi vi-plus"></i>Bewaar{{/wu-button}}
    {{#wu-button class="button--alt button--small button--narrow" onClick=(action 'cancel')}}Annuleer{{/wu-button}}
  {{/wu-button-group}}
</div>
{{yield}}
