<h3 class="h6">Stemmingen</h3>
<div resource={{behandelingVanAgendapuntUri}} typeof="besluit:BehandelingVanAgendapunt">
  {{#each stemmingen as |stemming|}}
  <br>
  <div property="besluit:heeftStemming" resource={{stemming.uri}} typeof={{stemming._meta_generic_model.class.rdfaType}}>
		<p property="besluit:geheim" content={{if stemming.geheim "true" "false"}}>
			De raad stemt {{#if stemming.geheim}}geheim{{else}}openbaar{{/if}},
		</p>
		<!-- TODO nieuwe stijl:
		<h5 property="besluit:geheim" content={{if stemming.geheim "true" "false"}}>
			{{#if stemming.geheim}}Geheime{{else}}Openbare{{/if}} stemming
		</h5>
		-->
		<br>
		<p property="besluit:onderwerp">{{stemming.onderwerp}}</p>

		<!-- TODO nieuwe stijl:
		<div>
			<h6>Onderwerp van de stemming</h6>
			<p property="besluit:onderwerp">{{stemming.onderwerp}}</p>
		</div>
		<br>
		-->
		<br>

    <p>
      <strong>Aanwezigen tijdens stemming</strong>
    </p>
    <p class="small">
      {{#each stemming.aanwezigen as |mandataris|}}
        <span property="besluit:heeftAanwezige" resource={{mandataris.uri}} typeof={{mandataris._meta_generic_model.class.rdfaType}}>

          <span property="mandaat:isBestuurlijkeAliasVan"
            resource={{mandataris.isBestuurlijkeAliasVan.0.uri}}
            typeof={{mandataris.isBestuurlijkeAliasVan.0._meta_generic_model.class.rdfaType}}>

              <span property="persoon:gebruikteVoornaam">
                {{mandataris.isBestuurlijkeAliasVan.0.gebruikteVoornaam}}
              </span>

              <span property="persoon:achternaam">
                {{mandataris.isBestuurlijkeAliasVan.0.achternaam}}
              </span>

          </span>
          <span property="org:holds" resource={{mandataris.bekleedt.0.uri}} typeof={{mandataris.bekleedt.0._meta_generic_model.class.rdfaType}}>
            <span property="org:role"
              resource={{mandataris.bekleedt.0.bestuursfunctie.0.uri}}
              typeof={{mandataris.bekleedt.0.bestuursfunctie.0._meta_generic_model.class.rdfaType}}>
              <span property="skos:prefLabel"> {{mandataris.bekleedt.0.bestuursfunctie.0.label}}</span>
            </span>
          </span>
        </span>,&nbsp;
      {{/each}}
    </p>
    <br>

    <p>
      <strong>Effectieve stemmers</strong>
    </p>
    <p class="small">
      {{#each stemming.stemmers as |mandataris|}}
        <span property="besluit:heeftStemmer" resource={{mandataris.uri}} typeof={{mandataris._meta_generic_model.class.rdfaType}}>

          <span property="mandaat:isBestuurlijkeAliasVan"
            resource={{mandataris.isBestuurlijkeAliasVan.0.uri}}
            typeof={{mandataris.isBestuurlijkeAliasVan.0._meta_generic_model.class.rdfaType}}>

            <span property="persoon:gebruikteVoornaam">
              {{mandataris.isBestuurlijkeAliasVan.0.gebruikteVoornaam}}
            </span>

            <span property="persoon:achternaam">
              {{mandataris.isBestuurlijkeAliasVan.0.achternaam}}
            </span>

          </span>
          <span property="org:holds" resource={{mandataris.bekleedt.0.uri}} typeof={{mandataris.bekleedt.0._meta_generic_model.class.rdfaType}}>
            <span property="org:role"
              resource={{mandataris.bekleedt.0.bestuursfunctie.0.uri}}
              typeof={{mandataris.bekleedt.0.bestuursfunctie.0._meta_generic_model.class.rdfaType}}>
              <span property="skos:prefLabel"> {{mandataris.bekleedt.0.bestuursfunctie.0.label}}</span>
            </span>
          </span>
        </span>,&nbsp;
      {{/each}}
    </p>
    <br>

    <p>Totaal aantal voorstanders: <span property="besluit:aantalVoorstanders" content={{stemming.aantalVoorstanders}}>{{stemming.aantalVoorstanders}}</span>
    </p>
    <p>Totaal aantal tegenstanders: <span property="besluit:aantalTegenstanders" content={{stemming.aantalTegenstanders}}>{{stemming.aantalTegenstanders}}</span>
    </p>
    <p>Totaal aantal onthoudingen, blanco of ongeldig: <span property="besluit:aantalOnthouders" content={{stemming.aantalOnthouders}}>{{stemming.aantalOnthouders}}</span>
    </p>
    <br>
    {{#unless stemming.geheim}}
	    <p>
	      <strong>Voorstanders</strong>
	    </p>
	    <p class="small u-spacer--small">
        {{#each stemming.voorstanders as |mandataris|}}
          <span property="besluit:heeftVoorstander" resource={{mandataris.uri}} typeof={{mandataris._meta_generic_model.class.rdfaType}}>

            <span property="mandaat:isBestuurlijkeAliasVan"
              resource={{mandataris.isBestuurlijkeAliasVan.0.uri}}
              typeof={{mandataris.isBestuurlijkeAliasVan.0._meta_generic_model.class.rdfaType}}>

              <span property="persoon:gebruikteVoornaam">
                {{mandataris.isBestuurlijkeAliasVan.0.gebruikteVoornaam}}
              </span>

              <span property="persoon:achternaam">
                {{mandataris.isBestuurlijkeAliasVan.0.achternaam}}
              </span>

            </span>
            <span property="org:holds" resource={{mandataris.bekleedt.0.uri}} typeof={{mandataris.bekleedt.0._meta_generic_model.class.rdfaType}}>
              <span property="org:role"
                resource={{mandataris.bekleedt.0.bestuursfunctie.0.uri}}
                typeof={{mandataris.bekleedt.0.bestuursfunctie.0._meta_generic_model.class.rdfaType}}>
                <span property="skos:prefLabel"> {{mandataris.bekleedt.0.bestuursfunctie.0.label}}</span>
              </span>
            </span>
          </span>,&nbsp;
        {{/each}}
      </p>
      <p>
	      <strong>Tegenstanders</strong>
	    </p>
	    <p class="small u-spacer--small">
        {{#each stemming.tegenstanders as |mandataris|}}
          <span property="besluit:heeftTegenstander" resource={{mandataris.uri}} typeof={{mandataris._meta_generic_model.class.rdfaType}}>

            <span property="mandaat:isBestuurlijkeAliasVan"
              resource={{mandataris.isBestuurlijkeAliasVan.0.uri}}
              typeof={{mandataris.isBestuurlijkeAliasVan.0._meta_generic_model.class.rdfaType}}>

              <span property="persoon:gebruikteVoornaam">
                {{mandataris.isBestuurlijkeAliasVan.0.gebruikteVoornaam}}
              </span>

              <span property="persoon:achternaam">
                {{mandataris.isBestuurlijkeAliasVan.0.achternaam}}
              </span>

            </span>
            <span property="org:holds" resource={{mandataris.bekleedt.0.uri}} typeof={{mandataris.bekleedt.0._meta_generic_model.class.rdfaType}}>
              <span property="org:role"
                resource={{mandataris.bekleedt.0.bestuursfunctie.0.uri}}
                typeof={{mandataris.bekleedt.0.bestuursfunctie.0._meta_generic_model.class.rdfaType}}>
                <span property="skos:prefLabel"> {{mandataris.bekleedt.0.bestuursfunctie.0.label}}</span>
              </span>
            </span>
          </span>,&nbsp;
        {{/each}}
      </p>
	    <p>
	      <strong>Onthoudingen, blanco of ongeldig</strong>
	    </p>
	    <p class="small u-spacer--small">
        {{#each stemming.onthouders as |mandataris|}}
          <span property="besluit:heeftOnthouder" resource={{mandataris.uri}} typeof={{mandataris._meta_generic_model.class.rdfaType}}>

            <span property="mandaat:isBestuurlijkeAliasVan"
              resource={{mandataris.isBestuurlijkeAliasVan.0.uri}}
              typeof={{mandataris.isBestuurlijkeAliasVan.0._meta_generic_model.class.rdfaType}}>

              <span property="persoon:gebruikteVoornaam">
                {{mandataris.isBestuurlijkeAliasVan.0.gebruikteVoornaam}}
              </span>

              <span property="persoon:achternaam">
                {{mandataris.isBestuurlijkeAliasVan.0.achternaam}}
              </span>

            </span>
            <span property="org:holds" resource={{mandataris.bekleedt.0.uri}} typeof={{mandataris.bekleedt.0._meta_generic_model.class.rdfaType}}>
              <span property="org:role"
                resource={{mandataris.bekleedt.0.bestuursfunctie.0.uri}}
                typeof={{mandataris.bekleedt.0.bestuursfunctie.0._meta_generic_model.class.rdfaType}}>
                <span property="skos:prefLabel"> {{mandataris.bekleedt.0.bestuursfunctie.0.label}}</span>
              </span>
            </span>
          </span>,&nbsp;
        {{/each}}
      </p>
    {{/unless}}

		<p>Met als gevolg,</p>
    <div>
			<p property="besluit:gevolg">{{stemming.gevolg}}</p>
		</div>

		<!-- TODO: nieuwe stijl
		<h6>Gevolg stemming</h6>
		<p property="stemming:gevolg">
			{{stemming.gevolg}}
		</p>
		<br>
		<br> -->
  </div>
  <br>
  {{/each}}
</div>
