<h2 class="h5">Stemmingen bij agendapunt "{{bvap.onderwerp.0.titel}}"</h2>
{{#if loadData.isRunning}}
  <p class="loader"><span class="u-visually-hidden">Aan het laden</span></p>
{{else}}
  {{editor-plugins/stemming-overview-table
    stemmingen=bvap.stemmingen
    domNodeBehandelingAP=domNodeBehandelingAP
    editorRootNode=editorRootNode
    bestuurseenheid=bestuurseenheid
    bestuursorgaan=bestuursorgaan
  }}

  {{editor-plugins/stemming-rdfa-output id=outputId class="u-hidden"
    stemmingen=bvap.stemmingen
    behandelingVanAgendapuntUri=behandelingVanAgendapuntUri
  }}
{{/if}}
{{yield}}
