{{#unless editMode}}
  <table class="data-table data-table--lined data-table--zebra">
    <thead>
      <tr>
        <th>Onderwerp</th>
        <th>Type</th>
        <th>Stemmen</th>
        <th>Gevolg</th>
        <th>
          <div class="grid">
            <div class="col--4-12">
              Actie
            </div>
            <div class="col--8-12 u-align--right">
              {{#wu-link-button class="button--small" isNarrow=true onClick=(action "add")}}
                <i class="vi vi-plus vi-u-s"></i> Nieuwe stemming
              {{/wu-link-button}}
            </div>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      {{#each stemmingen as |stemming| }}
      <tr>
        <td>{{stemming.onderwerp}}</td>
        <td>
          {{#if stemming.geheim}}
            Geheim
          {{else}}
            Openbaar
          {{/if}}
        </td>
        <td>
        	<p>Voorstanders: {{stemming.aantalVoorstanders}}</p>
        	<p>Tegenstanders: {{stemming.aantalTegenstanders}}</p>
        	<p>Onthouders: {{stemming.aantalOnthouders}}</p>
        </td>
        <td>{{stemming.gevolg}}</td>
        <td>
          {{#wu-button-group}}
            {{#wu-link-button class="button--small" isNarrow=true onClick=(action "edit" stemming)}}
              <i class="vi vi-edit vi-u-s"></i> Bewerk
            {{/wu-link-button}}
            {{#wu-link-button class="button--small button--alt" isNarrow=true onClick=(action "remove" stemming)}}
              <i class="vi vi-cross vi-u-s"></i> Verwijder
            {{/wu-link-button}}
          {{/wu-button-group}}
        </td>
      </tr>
      {{else}}
      <tr>
      	<td colspan="5" style="background-color: white; height: 10rem;">
	      	<p class="text-fade">Geen stemmingen gevonden</p>
      	</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
  {{#if create}}
    {{editor-plugins/edit-stemming
      stemming=editStemming
      onCancel=(action "cancel")
      onSave=(action "create")
      domNodeBehandelingAP=domNodeBehandelingAP
      editorRootNode=editorRootNode
      bestuurseenheid=bestuurseenheid
      bestuursorgaan=bestuursorgaan
      disableButtons=(action disableButtons)
    }}
  {{/if}}
  {{#if edit}}
    {{editor-plugins/edit-stemming
      stemming=editStemming
      onCancel=(action "cancel")
      onSave=(action "save")
      domNodeBehandelingAP=domNodeBehandelingAP
      editorRootNode=editorRootNode
      bestuurseenheid=bestuurseenheid
      bestuursorgaan=bestuursorgaan
      editMode=edit
      disableButtons=(action disableButtons)
    }}
  {{/if}}
{{/unless}}
{{yield}}
