<div class="u-padding--rl--small u-padding--tb--tinier u-border--light--bottom">
	<h2>Voor agendapunt <strong>{{bvap.onderwerp.0.titel}}</strong></h2>
</div>
{{#if loadData.isRunning}}
  <p class="loader"><span class="u-visually-hidden">Aan het laden</span></p>
{{else}}
  {{editor-plugins/stemming-overview-table
    stemmingen=bvap.stemmingen
    domNodeBehandelingAP=domNodeBehandelingAP
    editorRootNode=editorRootNode
    bestuurseenheid=bestuurseenheid
    bestuursorgaan=bestuursorgaan
  }}

  {{editor-plugins/stemming-rdfa-output id=outputId class="u-hidden"
    stemmingen=bvap.stemmingen
    behandelingVanAgendapuntUri=behandelingVanAgendapuntUri
  }}
{{/if}}
{{yield}}
