{{#unless editMode}}
  <table class="data-table data-table--lined data-table--zebra">
    <thead>
      <tr>
        <th>Onderwerp</th>
        <th>Gevolg</th>
        <th>Geheim</th>
        <th>Aantal Voorstanders</th>
        <th>Aantal Tegenstanders</th>
        <th>Aantal Onthouders</th>
        <th>
          <div class="grid">
            <div class="col--6-12">
              Actie
            </div>
            <div class="col--6-12 u-align--right">
              {{#wu-link-button class="button--small" isNarrow=true onClick=(action "add")}}
                <i class="vi vi-plus vi-u-s"></i>Voeg stemming toe
              {{/wu-link-button}}
            </div>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      {{#each stemmingen as |stemming| }}
        <tr>
          <td>{{stemming.onderwerp}}</td>
          <td>{{stemming.gevolg}}</td>
          <td>
            {{#if (is-truthy-str stemming.geheim)}}
              geheim
            {{else}}
              openbaar
            {{/if}}
          </td>
          <td>{{stemming.aantalVoorstanders}}</td>
          <td>{{stemming.aantalTegenstanders}}</td>
          <td>{{stemming.aantalOnthouders}}</td>
          <td>
            {{#wu-button-group}}
              {{#wu-link-button class="button--small" isNarrow=true onClick=(action "edit" stemming)}}
                <i class="vi vi-edit vi-u-s"></i>Bewerk
              {{/wu-link-button}}
              {{#wu-link-button class="button--small button--alt" isNarrow=true onClick=(action "remove" stemming)}}
                <i class="vi vi-cross vi-u-s"></i>Verwijder
              {{/wu-link-button}}
            {{/wu-button-group}}
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
  {{#if create}}
    {{editor-plugins/edit-stemming
      stemming=editStemming
      onCancel=(action "cancel")
      onSave=(action "create")
      domNodeBehandelingAP=domNodeBehandelingAP
      editorRootNode=editorRootNode
      bestuurseenheid=bestuurseenheid
      bestuursorgaan=bestuursorgaan
    }}
  {{/if}}
  {{#if edit}}
    {{editor-plugins/edit-stemming
      stemming=editStemming
      onCancel=(action "cancel")
      onSave=(action "save")
      domNodeBehandelingAP=domNodeBehandelingAP
      editorRootNode=editorRootNode
      bestuurseenheid=bestuurseenheid
      bestuursorgaan=bestuursorgaan
      editMode=edit
    }}
  {{/if}}
{{/unless}}
{{yield}}
